:root {
  --primary-color: #f4f6f7;
  --seondary-color: #f4d03f;
  --screen-height: 100vh;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: helveticaa;
  src: url(Helveticaa.ttf);
}

body {
  background-color: var(--primary-color);
}

.size-screen {
  width: 100%;
  height: var(--screen-height);
}

.title {
  font-family: helveticaa;
  font-size: 120px;
  text-align: center;
  padding: 1rem 0;
}

.title a {
  text-decoration: none;
  color: #000;
}

.subtitle {
  font-family: helveticaa;
  font-size: 30px;
  text-align: center;
  padding: 1rem 0;
}

.title-Centros {
  font-family: helveticaa;
  font-size: 90px;
  text-align: center;
  padding: 1rem 0;
}

.firts-section {
  position: relative;
  overflow: hidden;
}

.firts-section h2 {
  margin: 1rem;
}

.shape-title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.second-section {
  height: 50vh;
  position: relative;
}

#map {
  height: inherit;
  z-index: 0;
}

input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 1;
}

.third-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
}

.third-section .counter {
  letter-spacing: 1rem;
}

.clap-button {
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 10px;
  font-family: Arial;
  color: #8C0F61;
  font-size: 13px;
  background: #F29F05;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.clap-button:hover {
  text-decoration: none;
}

.imagen1 {
  width: 600px;
  height: 600px; 
  margin-top: 100px;
  margin-left: 250px; 
  float: left; 
}

.btns-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-showmore {
  border-radius: 0.5rem;
  background-color: #454545;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
}



