:root {
  --primary-color: #fff;
  --seondary-color: #f4d03f;
  --screen-height: 100vh;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: helveticaa;
  src: url(HelveticaNowDisplay-ExtBlk.ttf);
}

@font-face {
  font-family: helveticaThin;
  src: url(Helveticaa.ttf);
}

body {
  background-color: var(--primary-color);
}

.size-screen {
  width: 100%;
  height: var(--screen-height);
}

.title {
  font-family: helveticaa;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

.title a {
  text-decoration: none;
  color: #000;
}

.subtitle {
  font-family: helveticaa;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0;
}

.title-Centros {
  font-family: helveticaa;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

/* Primera seccion ******************************************************************************** */

.firts-section {
  position: relative;
  overflow: hidden;
}

.firts-section .info {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.firts-section .logo {
  width: 40%;
  max-width: 250px;
  margin-top: 3vh;
  margin-left: 3vw;
}

.firts-section h2 {
  margin: 1rem;
}

.shape-title {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.shape-map {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.imagen1 {
  visibility: hidden;
  position: absolute;
  top: 30%;
  left: 10%;
  width: 60%;
  max-width: 250px;
  height: auto;
  margin-top: 2rem;
  z-index: -1;
}

.second-section {
  height: 50vh;
  position: relative;
}

#map {
  height: 60vh;
  z-index: 0;
}

input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 1;
}

.info-modal {
  width: inherit;
  height: inherit;
  background-color: rgba(34, 34, 34, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.is-active {
  opacity: 1;
  visibility: visible;
}

.info-screen {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90vh;
  margin: 5vh auto;
  background-color: #fff;
  border-radius: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.info-study {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  padding: 0 5rem;
  opacity: 1;
  visibility: hidden;
  display: none;
}

.info-study.onFocus {
  visibility: visible;
  opacity: 1;
  display: flex;
}

.info-study p,
.info-study h3 {
  width: 50%;
  padding: 01rem;
  overflow-wrap: break-word;
  font-family: helveticaThin;
}

.info-screen button {
  align-self: flex-end;
  margin: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
}

.info-screen h2 {
  text-align: center;
  font-family: helveticaa;
}

.country-selector {
  width: 50%;
  max-width: 200px;

  position: absolute;
  top: 3rem;
  right: 0;
  margin: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  z-index: 1;
}

.third-section {
  height: calc(100vh - 5.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.third-section .counter {
  font-size: 2rem;
  letter-spacing: 2rem;
  margin-right: -2rem;

  animation: pulsaciones 3s linear infinite alternate;
}

.clap-button {
  border-radius: 10px;
  font-family: Arial;
  font-weight: 800;
  color: #8c0f61;
  background: #f29f05;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.clap-button:hover {
  text-decoration: none;
}

.btns-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-showmore {
  border-radius: 0.5rem;
  background-color: #454545;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
}

.slider {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.slider-slides {
  position: inherit;
  height: 400px;
}

.slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  display: block;
  transition: all 1s ease;
}

.slider-slide.active {
  opacity: 1;
  visibility: visible;
  display: none;
}

.slider-btns {
  position: absolute;
  width: 95%;
  top: calc(50% - 2rem);
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  font-size: 3rem;
  font-weight: bold;
}

.slider-btns .next {
  position: absolute;
  right: -9rem;
}

.slider-btns .prev {
  position: absolute;
  left: -6rem;
}

.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: thin solid #000;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  transition: color 0.3 ease;
}

.slider a:hover {
  color: #4d4d4d;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 11px 32px;
  border-radius: 17px;
  border: none;

  font: 18px "Lucida Console", Monaco, monospace;
  font-weight: bold;
  color: #faf6ed;
  background: #f29f05;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  padding: 11px 32px;
  border: none;
  border-radius: 17px;
  font: 18px "Lucida Console", Monaco, monospace;
  font-weight: bold;
  color: #faf6ed;
  background: #d90479;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.button:hover span {
  color: red;
  font-size: 1.5rem;
  animation: pulsaciones 3s linear infinite alternate both;
}

@keyframes pulsaciones {
  0% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* .button:active {
  padding: 11px 32px;
  border: none;
  border-radius: 17px;
  font: 18px "Lucida Console", Monaco, monospace;
  font-weight: bold;
  color: #faf6ed;
  background: #d90472;
  box-shadow: 4px 4px 1px #bababa, inset 0px 0px 1px #ffffff;
} */
.third-section p {
  text-align: justify;
  width: 80%;
  max-width: 430px;
  font-size: 1.3rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 5vw;
  height: 5vw;
  margin: 5px auto;
  border-radius: 50%;
  border: 0.5vw solid rgba(0, 0, 0, 0.3);
  border-left-color: #09f;
  animation: spinner 1s linear infinite;
  opacity: 0;
  visibility: hidden;
}

.spinner.onVisible {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 800px) {
  .imagen1 {
    visibility: visible;
    max-width: 300px;
    top: 20%;
    left: 10%;
  }

  .firts-section .info {
    width: 40%;
    position: absolute;
    right: 5rem;
    top: 0;
    bottom: 0;
  }

  #map {
    height: 70vh;
    z-index: 0;
  }

  .third-section .counter {
    letter-spacing: 3rem;
    margin-right: -3rem;
    font-size: 4rem;
  }

  h1 {
    font-size: 4rem;
  }
}
