:root {
  --primary-color: #fff;
  --seondary-color: #f4d03f;
  --screen-height: 100vh;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: helveticaa;
  src: url(Helveticaa.ttf);
}

body {
  background-color: var(--primary-color);
}

.size-screen {
  width: 100%;
  height: var(--screen-height);
}

.title {
  font-family: helveticaa;
  font-size: 3rem;
  text-align: center;
  padding: 1rem 0;
}

.title a {
  text-decoration: none;
  color: #000;
}

.subtitle {
  font-family: helveticaa;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0;
}

.title-Centros {
  font-family: helveticaa;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
}

/* Primera seccion ******************************************************************************** */

.firts-section {
  position: relative;
  overflow: hidden;
}

.firts-section .info {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.firts-section .logo {
  width: 40%;
  max-width: 250px;
  margin-top: 3vh;
  margin-left: 3vw;
}

.firts-section h2 {
  margin: 1rem;
}

.shape-title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.imagen1 {
  visibility: hidden;
  position: absolute;
  top: 30%;
  left: 10%;
  width: 60%;
  max-width: 250px;
  height: auto;
  margin-top: 2rem;
  z-index: -1;
}

.second-section {
  height: 50vh;
  position: relative;
}

#map {
  height: inherit;
  z-index: 0;
}

input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 1;
}

.third-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
}

.third-section .counter {
  letter-spacing: 1rem;
}

.clap-button {
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 10px;
  font-family: Arial;
  color: #8c0f61;
  font-size: 13px;
  background: #f29f05;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.clap-button:hover {
  text-decoration: none;
}

.btns-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-showmore {
  border-radius: 0.5rem;
  background-color: #454545;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
}

main {
  background-color: var(--primary-color);
}

@media screen and (min-width: 800px) {
  .imagen1 {
    visibility: visible;
    max-width: 300px;
    top: 20%;
    left: 10%;
  }

  .firts-section .info {
    width: 40%;
    position: absolute;
    right: 5rem;
    top: 0;
    bottom: 0;
  }
}
